## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd
import numpy as np
from pymystem3 import Mystem
data = pd.read_csv('/datasets/data.csv')
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля
20,1,-1311.604166,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552.644578,недвижимость
21,1,-253.685166,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812.203909,приобретение автомобиля
22,1,-1766.644138,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681.140731,на покупку подержанного автомобиля
23,0,-272.981385,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265.720871,сыграть свадьбу
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
27,0,-529.191635,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848.983691,строительство собственной недвижимости
28,1,-717.274324,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863.237306,строительство собственной недвижимости
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
30,1,335581.668515,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456.067993,операции с коммерческой недвижимостью
31,0,-1682.083438,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485.684538,жилье
32,0,-4649.910832,34,СРЕДНЕЕ,1,гражданский брак,1,F,сотрудник,1,139057.464207,на проведение свадьбы
33,0,-1548.637544,48,среднее,1,женат / замужем,0,F,компаньон,0,157245.786233,покупка жилья
34,0,-4488.067031,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660.449203,операции со своей недвижимостью
35,0,394021.072184,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805.677436,на проведение свадьбы
36,0,-176.216688,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830.650734,автомобили
37,0,-6448.810860,43,ВЫСШЕЕ,0,гражданский брак,1,F,компаньон,0,154128.878672,приобретение автомобиля
38,0,-597.881827,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247.298639,образование
39,0,-650.587796,31,высшее,0,гражданский брак,1,F,компаньон,0,754240.797248,заняться образованием
40,0,-1030.362606,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865.579146,покупка недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
42,0,-1257.496190,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065.089021,получение образования
43,0,-4375.681384,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957.133509,приобретение автомобиля
44,1,-1362.041728,26,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,100780.496749,на покупку своего автомобиля
45,1,-1039.451741,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385.919724,заняться образованием
46,2,-2262.712304,37,среднее,1,женат / замужем,0,F,компаньон,0,182682.459898,сделка с подержанным автомобилем
47,1,-2689.137274,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277.909345,на проведение свадьбы
48,0,-3341.067886,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065.516450,строительство собственной недвижимости
49,0,-1181.443228,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591.806888,автомобиль

### Вывод

таблица состоит из 12 столбцов. Так же в представленной таблице увидел, что в столбце 'days_employed' есть отрицательные значения и слишком большие, в столбце 'purpose' одни и те же категории названы по разному, так же как и в столбце 'education' и 'purpose'

In [2]:
#рассмотрим типы данных и общую информацию
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Вывод

столбцы 'days_employed' и 'total_income' имеет тип float64, считаю что стаж и доход должны быть целыми числоми.
так же в этих столбцах есть пропущенные значения

In [3]:
# получим некоторые основные статистические данные таблица data
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

### Вывод

В столбце 'children' есть отрицательное значение -1, а максимальное значение по 'children' - 20 (это возможно, но подозрительно). Столбец 'days_employed' - 173 года (63046 дней) - явно не корректное значение.
В столбце 'dob_years' минимальное значение равено 0

### В каждом из столбцов найду уникальные значения

In [4]:
# дети
data['children'].value_counts().sort_index()

-1        47
 0     14149
 1      4818
 2      2055
 3       330
 4        41
 5         9
 20       76
Name: children, dtype: int64

In [5]:
# трудовой стаж (поиск отрицательных значений)
data[data['days_employed'] < 0]['days_employed'].count()

15906

In [6]:
# трудовой стаж (слишком большие значения)
data[data['days_employed'] > 0].sort_values(['days_employed']).head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
20444,0,328728.720605,72,среднее,1,вдовец / вдова,2,F,пенсионер,0,96519.339647,покупка жилья для семьи
9328,2,328734.923996,41,высшее,0,женат / замужем,0,M,пенсионер,0,126997.497760,операции со своей недвижимостью
17782,0,328771.341387,56,среднее,1,женат / замужем,0,F,пенсионер,0,68648.047062,операции с коммерческой недвижимостью
14783,0,328795.726728,62,высшее,0,женат / замужем,0,F,пенсионер,0,79940.196752,на покупку своего автомобиля
7229,1,328827.345667,32,среднее,1,гражданский брак,1,F,пенсионер,0,122162.965695,сыграть свадьбу
5332,0,328834.274455,55,среднее,1,женат / замужем,0,F,пенсионер,0,49802.142892,профильное образование
5756,0,328842.364916,51,высшее,0,женат / замужем,0,F,пенсионер,0,189181.456572,недвижимость
13325,0,328862.571412,55,среднее,1,вдовец / вдова,2,F,пенсионер,0,99127.379599,на покупку автомобиля
3642,0,328874.270668,54,среднее,1,женат / замужем,0,F,пенсионер,0,202345.082322,строительство собственной недвижимости
3386,0,328895.862752,58,Среднее,1,вдовец / вдова,2,F,пенсионер,0,130432.389679,образование
15491,0,328909.020618,60,высшее,0,женат / замужем,0,F,пенсионер,0,189278.622398,ремонт жилью
7153,0,328911.595708,44,среднее,1,женат / замужем,0,F,пенсионер,0,124933.152501,получение образования
14247,0,328923.448222,57,СРЕДНЕЕ,1,женат / замужем,0,M,пенсионер,0,110496.198968,операции с коммерческой недвижимостью
13929,0,328928.262664,54,среднее,1,женат / замужем,0,F,пенсионер,0,191865.193794,покупка жилья для семьи
7711,0,328959.626965,62,Среднее,1,гражданский брак,1,F,пенсионер,0,201300.782649,свадьба
8516,0,328994.063852,61,среднее,1,женат / замужем,0,F,пенсионер,0,202032.726593,покупка жилья для сдачи
2575,0,329001.946107,51,среднее,1,женат / замужем,0,F,пенсионер,0,176556.964429,строительство собственной недвижимости
4879,0,329045.973335,66,среднее,1,женат / замужем,0,F,пенсионер,0,60053.072061,заняться высшим образованием
3165,0,329050.424240,59,начальное,3,вдовец / вдова,2,F,пенсионер,0,296160.300798,получение дополнительного образования
12974,0,329139.608395,50,среднее,1,женат / замужем,0,F,пенсионер,0,44236.969906,покупка жилой недвижимости
7386,0,329164.598091,61,ВЫСШЕЕ,0,женат / замужем,0,F,пенсионер,0,164705.790896,операции со своей недвижимостью
2787,0,329182.845157,54,высшее,0,женат / замужем,0,F,пенсионер,0,62571.006926,покупка коммерческой недвижимости
6197,0,329210.108796,62,среднее,1,женат / замужем,0,F,пенсионер,0,84798.748271,получение образования
563,0,329213.316960,58,среднее,1,вдовец / вдова,2,F,пенсионер,0,54221.913003,покупка недвижимости
3848,0,329219.676882,59,среднее,1,гражданский брак,1,F,пенсионер,0,192827.789937,свадьба
16894,0,329226.733116,61,среднее,1,женат / замужем,0,F,пенсионер,0,60166.649891,сделка с автомобилем
7187,0,329246.204868,51,среднее,1,гражданский брак,1,M,пенсионер,0,133418.929343,свадьба
8916,0,329349.694445,55,среднее,1,женат / замужем,0,F,пенсионер,0,82181.876104,покупка коммерческой недвижимости
3083,0,329365.772730,61,среднее,1,женат / замужем,0,F,пенсионер,0,205974.159547,свой автомобиль
10905,1,329375.626729,60,среднее,1,вдовец / вдова,2,F,пенсионер,0,116407.666865,недвижимость
15051,0,329379.860621,56,среднее,1,гражданский брак,1,F,пенсионер,0,105161.929105,покупка недвижимости
14856,0,329387.371592,60,среднее,1,гражданский брак,1,F,пенсионер,0,124468.944722,образование
8354,0,329410.248523,54,СРЕДНЕЕ,1,гражданский брак,1,F,пенсионер,0,95950.360328,сыграть свадьбу
9166,0,329412.250959,68,среднее,1,женат / замужем,0,F,пенсионер,0,101396.295670,заняться образованием
11157,0,329416.874245,71,СРЕДНЕЕ,1,вдовец / вдова,2,F,пенсионер,0,39406.483691,покупка жилой недвижимости
16253,0,329460.941937,53,среднее,1,гражданский брак,1,F,пенсионер,0,94973.587101,заняться высшим образованием
5427,0,329519.279785,64,среднее,1,женат / замужем,0,F,пенсионер,0,135627.421389,заняться высшим образованием
2431,0,329531.929140,51,среднее,1,в разводе,3,F,пенсионер,0,196952.608242,дополнительное образование
2937,0,329555.513459,59,высшее,0,женат / замужем,0,M,пенсионер,0,93920.085956,заняться высшим образованием
9761,0,329569.298688,69,высшее,0,женат / замужем,0,M,пенсионер,0,87780.831471,автомобили
1461,1,329605.609434,50,среднее,1,женат / замужем,0,F,пенсионер,0,291945.466794,образование
11575,0,329638.427060,65,среднее,1,гражданский брак,1,M,пенсионер,0,52803.550847,на проведение свадьбы
19556,0,329663.930342,59,среднее,1,женат / замужем,0,F,пенсионер,0,71636.849457,покупка коммерческой недвижимости
19446,0,329684.756343,65,среднее,1,гражданский брак,1,F,пенсионер,0,221898.652181,свадьба
5640,0,329698.826692,54,среднее,1,женат / замужем,0,M,пенсионер,0,115413.406988,сделка с автомобилем
19506,1,329699.348562,63,ВЫСШЕЕ,0,женат / замужем,0,F,пенсионер,0,180400.858943,операции с недвижимостью
4495,0,329717.691172,64,среднее,1,вдовец / вдова,2,F,пенсионер,0,96739.075889,строительство жилой недвижимости
15060,0,329720.654235,56,среднее,1,женат / замужем,0,M,пенсионер,0,185380.066612,заняться высшим образованием
7176,1,329722.245157,46,высшее,0,Не женат / не замужем,4,F,пенсионер,0,352908.436525,строительство жилой недвижимости
15608,0,329734.421507,56,среднее,1,Не женат / не замужем,4,F,пенсионер,0,143426.574143,жилье

In [7]:
# возраст
data['dob_years'].value_counts().sort_index()

0     101
19     14
20     51
21    111
22    183
23    254
24    264
25    357
26    408
27    493
28    503
29    545
30    540
31    560
32    510
33    581
34    603
35    617
36    555
37    537
38    598
39    573
40    609
41    607
42    597
43    513
44    547
45    497
46    475
47    480
48    538
49    508
50    514
51    448
52    484
53    459
54    479
55    443
56    487
57    460
58    461
59    444
60    377
61    355
62    352
63    269
64    265
65    194
66    183
67    167
68     99
69     85
70     65
71     58
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

In [8]:
# уровень образования
data['education'].value_counts().sort_index()

ВЫСШЕЕ                   274
Высшее                   268
НАЧАЛЬНОЕ                 17
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
Начальное                 15
Неоконченное высшее       47
СРЕДНЕЕ                  772
Среднее                  711
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
высшее                  4718
начальное                250
неоконченное высшее      668
среднее                13750
ученая степень             4
Name: education, dtype: int64

In [9]:
# семейное положение
data['family_status'].value_counts().sort_index()

Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
гражданский брак          4177
женат / замужем          12380
Name: family_status, dtype: int64

In [10]:
# пол
data['gender'].value_counts().sort_index()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

In [11]:
# тип занятости
data['income_type'].value_counts().sort_index()

безработный            2
в декрете              1
госслужащий         1459
компаньон           5085
пенсионер           3856
предприниматель        2
сотрудник          11119
студент                1
Name: income_type, dtype: int64

In [12]:
# цель получения
data['purpose'].value_counts().sort_values(ascending=False)

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
покупка жилья для сдачи                   653
операции с жильем                         653
операции с коммерческой недвижимостью     651
жилье                                     647
покупка жилья                             647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
покупка своего жилья                      620
строительство недвижимости                620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
приобретение автомобиля                   462
дополнительное образование                462
сделка с автомобилем                      455
высшее образование                        453
образование                               447
получение дополнительного образования     447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

### Итоговый вывод

Таблица состоит 12 столбцов, в ней 21 525 записей. 
Столбец 'children' имеет 47 значений -1, выглядит как ошибка выгрузки (исправим знаение на 0) и 76 значений, где у клиента 20 детей (явно ошибка, избавимся от этих значений, так жеисправив на 0).
Столбец 'days_employed' имеет 15906 отрицательных значений, будем рассматривать значения по модулю.
В столбце 'education' есть одни и те же категории в разном регистре – сделаем всё одного вида и избавимся от дубликатов.
В столбце 'purpose' та же картина, думаю целесообразно будет применить лемматизацию

### Шаг 2. Предобработка данных

### Обработка пропусков

Заполним пропуски в столбце 'days_employed'. Для этого добавим новый столбец ratio_days_employed, чтобы впоследствии заполнить NaN в столбце 'days_employed' с учетом среднего этого показателя по группе. в расчётах учичтывал, что трудоустроиться возможно по достижении 18 лет

In [13]:
# избавимся от отрицательных значений и заменим значения NaN в датафрейме 
data[['total_income', 'days_employed']] = data[['total_income', 'days_employed']].abs()
data['days_employed'] = data['days_employed'].fillna(value = data['days_employed'].median())
data['total_income'] = data['total_income'].fillna(value = data['total_income'].median())
data.head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,2194.220567,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017.937533,сыграть свадьбу
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости

In [14]:
# удалим неверные значения в столбце 'children' 
data = data[(data['children'] >= 0) & (data['children'] <= 5)]
data.sort_values('children')['children'].value_counts().sort_index()

0    14149
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

In [15]:
# проверим остались ли пропуски
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 12 columns):
children            21402 non-null int64
days_employed       21402 non-null float64
dob_years           21402 non-null int64
education           21402 non-null object
education_id        21402 non-null int64
family_status       21402 non-null object
family_status_id    21402 non-null int64
gender              21402 non-null object
income_type         21402 non-null object
debt                21402 non-null int64
total_income        21402 non-null float64
purpose             21402 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

### Вывод

В результате видим, что пропусков не осталось. Т.е. имеем только те данные, которые необходимы для последующего анализа

### Замена типа данных

In [16]:
# в столбцах 'days_empoyed' и 'total_income' заменим тип данных на integer
data['days_employed'] = data['days_employed'].astype('int')
data['total_income'] = data['total_income'].astype('int')
# проверим методом info
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 12 columns):
children            21402 non-null int64
days_employed       21402 non-null int64
dob_years           21402 non-null int64
education           21402 non-null object
education_id        21402 non-null int64
family_status       21402 non-null object
family_status_id    21402 non-null int64
gender              21402 non-null object
income_type         21402 non-null object
debt                21402 non-null int64
total_income        21402 non-null int64
purpose             21402 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

### Вывод

Использовал метод astype(), т.к. to_numeric служит для конвертации строк и приводит их к ввещественным величинам с плавающей точкой.

### Обработка дубликатов

#### чтобы перейти к поиску дубликатов необходимо привести таблицу в читаемый вид, а именно уровень образования клиента к  единому регистру

In [17]:
data['education'] = data['education'].str.lower()

In [18]:
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости
12,0,2194,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля
20,1,1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость
21,1,253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля
22,1,1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля
23,0,272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу
24,1,338551,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости
26,0,2194,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017,образование
27,0,529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости
28,1,717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости
29,0,2194,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017,строительство жилой недвижимости
30,1,335581,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью
31,0,1682,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье
32,0,4649,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы
33,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья
34,0,4488,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью
35,0,394021,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы
36,0,176,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830,автомобили
37,0,6448,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля
38,0,597,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование
39,0,650,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием
40,0,1030,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости
41,0,2194,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017,сделка с подержанным автомобилем
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования
43,0,4375,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля
44,1,1362,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля
45,1,1039,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием
46,2,2262,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем
47,1,2689,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы
48,0,3341,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости
49,0,1181,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль

In [19]:
# узнаем сколько дубликатов имеется в датайрейме
data.duplicated().sum()

71

In [20]:
# рассмотрим какие именно это за дубликакты
data[data.duplicated(keep=False)].sort_values(by=['total_income', 'days_employed'])

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
120,0,2194,46,среднее,1,женат / замужем,0,F,сотрудник,0,145017,высшее образование
520,0,2194,35,среднее,1,гражданский брак,1,F,сотрудник,0,145017,сыграть свадьбу
541,0,2194,57,среднее,1,женат / замужем,0,F,сотрудник,0,145017,сделка с подержанным автомобилем
554,0,2194,60,среднее,1,женат / замужем,0,M,сотрудник,0,145017,покупка недвижимости
680,1,2194,30,высшее,0,женат / замужем,0,F,госслужащий,0,145017,покупка жилья для семьи
...,...,...,...,...,...,...,...,...,...,...,...,...
20702,0,2194,64,среднее,1,женат / замужем,0,F,пенсионер,0,145017,дополнительное образование
21032,0,2194,60,среднее,1,женат / замужем,0,F,пенсионер,0,145017,заняться образованием
21132,0,2194,47,среднее,1,женат / замужем,0,F,сотрудник,0,145017,ремонт жилью
21281,1,2194,30,высшее,0,женат / замужем,0,F,сотрудник,0,145017,покупка коммерческой недвижимости
21415,0,2194,54,среднее,1,женат / замужем,0,F,пенсионер,0,145017,операции с жильем

### Вывод

В таблице видно, что это и не дубликаты вовсе, т.к. совпадает всего один столбец 'total_income'. Следовательнно делаю вывод, что ничего не повлияет на правильность конечного результата, по крайней мере на этом этапе.

### Лемматизация

В столбце 'purpose' хранятся цели получения кредита, многие из них одинаковые,  но описаны по разному. Вычислим количествоо уникальных лемм.

In [174]:
# ещё раз посмотрим список
data['purpose'].value_counts().sort_values(ascending=False)

свадьба                                   796
на проведение свадьбы                     772
сыграть свадьбу                           769
операции с недвижимостью                  673
покупка коммерческой недвижимости         661
покупка жилья для сдачи                   651
операции с жильем                         648
операции с коммерческой недвижимостью     646
жилье                                     642
покупка жилья                             641
покупка жилья для семьи                   640
недвижимость                              632
строительство собственной недвижимости    628
операции со своей недвижимостью           626
строительство жилой недвижимости          622
строительство недвижимости                620
покупка недвижимости                      619
покупка своего жилья                      619
ремонт жилью                              609
покупка жилой недвижимости                603
на покупку своего автомобиля              504
заняться высшим образованием              496
автомобиль                                492
сделка с подержанным автомобилем          484
автомобили                                476
свой автомобиль                           475
на покупку подержанного автомобиля        472
на покупку автомобиля                     470
приобретение автомобиля                   460
дополнительное образование                457
сделка с автомобилем                      455
высшее образование                        447
получение дополнительного образования     445
образование                               442
получение образования                     441
профильное образование                    432
получение высшего образования             425
заняться образованием                     412
Name: purpose, dtype: int64

In [175]:
# найдём самые частоиспользуемые слова, сразу откинув пробелы и предлоги 
from collections import Counter
m = Mystem()
purposes = []

for word in data['purpose']:
    lemma = m.lemmatize(word)
    purposes += filter(lambda l: l not in [' ', '\n', 'с', 'со', 'на'], lemma)

print(Counter(purposes))

Counter({'недвижимость': 6330, 'покупка': 5880, 'жилье': 4450, 'автомобиль': 4288, 'образование': 3997, 'операция': 2593, 'свадьба': 2337, 'свой': 2224, 'строительство': 1870, 'высокий': 1368, 'получение': 1311, 'коммерческий': 1307, 'для': 1291, 'жилой': 1225, 'сделка': 939, 'заниматься': 908, 'дополнительный': 902, 'проведение': 772, 'сыграть': 769, 'сдача': 651, 'семья': 640, 'собственный': 628, 'ремонт': 609, 'подержанный': 484, 'подержать': 472, 'приобретение': 460, 'профильный': 432})

In [176]:
# в итоговм списке целей оставим только наибболее частовстречаемые категории, ремонт не самая частая, но всё же уникальна
purpose_category = [
    'недвижимость',
    'жилье',
    'автомобиль',
    'образование',
    'свадьба'
]

### Вывод

По результатам лемматизации выявил 6 категорий по которым буду проводить категоризацию, с целью дальнейшего анализа и составления выводов

### Категоризация данных

In [177]:
def category_purpose(purpose):
    lemmas = m.lemmatize(purpose)
    for category in purpose_category:
        for lemma in lemmas:
            if category in lemma:
                return category

In [178]:
# к нашему датафрейму добавим новый столбецс с категориями, использовав метод apply
data['purpose_category'] = data['purpose'].apply(category_purpose)
# проверим добавился ли столбец в татблицу и корректно ли он работает
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,недвижимость
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,недвижимость
12,0,2194,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,свадьба
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,автомобиль
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,недвижимость
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,недвижимость
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,недвижимость
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,недвижимость
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,автомобиль
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,автомобиль
20,1,1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,недвижимость
21,1,253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,автомобиль
22,1,1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,автомобиль
23,0,272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,свадьба
24,1,338551,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,недвижимость
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,недвижимость
26,0,2194,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017,образование,образование
27,0,529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,недвижимость
28,1,717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,недвижимость
29,0,2194,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017,строительство жилой недвижимости,недвижимость
30,1,335581,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,недвижимость
31,0,1682,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье,жилье
32,0,4649,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,свадьба
33,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,жилье
34,0,4488,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью,недвижимость
35,0,394021,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы,свадьба
36,0,176,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830,автомобили,автомобиль
37,0,6448,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля,автомобиль
38,0,597,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,образование
39,0,650,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием,образование
40,0,1030,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости,недвижимость
41,0,2194,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017,сделка с подержанным автомобилем,автомобиль
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования,образование
43,0,4375,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля,автомобиль
44,1,1362,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля,автомобиль
45,1,1039,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием,образование
46,2,2262,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем,автомобиль
47,1,2689,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы,свадьба
48,0,3341,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости,недвижимость
49,0,1181,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль,автомобиль

In [179]:
# далее разделим заёмщиков на категории по количеству детей
def category_children(children):
    if children == 0:
        return 'нет детей'
    if children <=2:
        return 'среднестатистические'
    if children >= 3:
        return 'многодетные'

In [180]:
# добавим ещё один столбец, с категориями по количеству детей столбец 
data['children_category'] = data['children'].apply(category_children)
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,children_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье,среднестатистические
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,среднестатистические
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье,нет детей
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,многодетные
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье,нет детей
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье,нет детей
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,нет детей
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,среднестатистические
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье,нет детей
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,недвижимость,среднестатистические
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,недвижимость,нет детей
12,0,2194,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,свадьба,нет детей
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,автомобиль,нет детей
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,недвижимость,нет детей
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,недвижимость,среднестатистические
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,недвижимость,нет детей
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,недвижимость,нет детей
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,автомобиль,нет детей
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,автомобиль,нет детей
20,1,1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,недвижимость,среднестатистические
21,1,253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,автомобиль,среднестатистические
22,1,1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,автомобиль,среднестатистические
23,0,272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,свадьба,нет детей
24,1,338551,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,недвижимость,среднестатистические
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,недвижимость,нет детей
26,0,2194,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017,образование,образование,нет детей
27,0,529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,недвижимость,нет детей
28,1,717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,недвижимость,среднестатистические
29,0,2194,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017,строительство жилой недвижимости,недвижимость,нет детей
30,1,335581,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,недвижимость,среднестатистические
31,0,1682,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье,жилье,нет детей
32,0,4649,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,свадьба,нет детей
33,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,жилье,нет детей
34,0,4488,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью,недвижимость,нет детей
35,0,394021,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы,свадьба,нет детей
36,0,176,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830,автомобили,автомобиль,нет детей
37,0,6448,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля,автомобиль,нет детей
38,0,597,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,образование,нет детей
39,0,650,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием,образование,нет детей
40,0,1030,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости,недвижимость,нет детей
41,0,2194,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017,сделка с подержанным автомобилем,автомобиль,нет детей
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования,образование,нет детей
43,0,4375,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля,автомобиль,нет детей
44,1,1362,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля,автомобиль,среднестатистические
45,1,1039,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием,образование,среднестатистические
46,2,2262,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем,автомобиль,среднестатистические
47,1,2689,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы,свадьба,среднестатистические
48,0,3341,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости,недвижимость,нет детей
49,0,1181,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль,автомобиль,нет детей

добавим столбец, с категориями по семейному положению, т.е. сократим количество категорий, для более удобного анализа

In [181]:
def category_family_status(family_status):
    if family_status == 'женат / замужем':
        return 'в браке'
    if family_status == 'гражданский брак':
        return 'в браке'
    
    return 'не в браке'

In [182]:
data['family_status_category'] = data['family_status'].apply(category_family_status)
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,children_category,family_status_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье,среднестатистические,в браке
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,среднестатистические,в браке
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье,нет детей,в браке
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,многодетные,в браке
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей,в браке
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье,нет детей,в браке
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье,нет детей,в браке
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,нет детей,в браке
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,среднестатистические,в браке
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье,нет детей,в браке
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,недвижимость,среднестатистические,в браке
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,недвижимость,нет детей,в браке
12,0,2194,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,свадьба,нет детей,в браке
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,автомобиль,нет детей,в браке
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,недвижимость,нет детей,в браке
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,недвижимость,среднестатистические,в браке
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,недвижимость,нет детей,в браке
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,недвижимость,нет детей,в браке
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,автомобиль,нет детей,не в браке
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,автомобиль,нет детей,не в браке
20,1,1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,недвижимость,среднестатистические,в браке
21,1,253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,автомобиль,среднестатистические,в браке
22,1,1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,автомобиль,среднестатистические,в браке
23,0,272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,свадьба,нет детей,в браке
24,1,338551,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,недвижимость,среднестатистические,не в браке
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,недвижимость,нет детей,в браке
26,0,2194,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017,образование,образование,нет детей,в браке
27,0,529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,недвижимость,нет детей,в браке
28,1,717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,недвижимость,среднестатистические,в браке
29,0,2194,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017,строительство жилой недвижимости,недвижимость,нет детей,не в браке
30,1,335581,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,недвижимость,среднестатистические,в браке
31,0,1682,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье,жилье,нет детей,в браке
32,0,4649,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,свадьба,нет детей,в браке
33,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,жилье,нет детей,в браке
34,0,4488,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью,недвижимость,нет детей,в браке
35,0,394021,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы,свадьба,нет детей,в браке
36,0,176,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830,автомобили,автомобиль,нет детей,не в браке
37,0,6448,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля,автомобиль,нет детей,в браке
38,0,597,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,образование,нет детей,не в браке
39,0,650,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием,образование,нет детей,в браке
40,0,1030,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости,недвижимость,нет детей,не в браке
41,0,2194,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017,сделка с подержанным автомобилем,автомобиль,нет детей,в браке
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования,образование,нет детей,не в браке
43,0,4375,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля,автомобиль,нет детей,не в браке
44,1,1362,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля,автомобиль,среднестатистические,в браке
45,1,1039,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием,образование,среднестатистические,не в браке
46,2,2262,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем,автомобиль,среднестатистические,в браке
47,1,2689,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы,свадьба,среднестатистические,в браке
48,0,3341,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости,недвижимость,нет детей,в браке
49,0,1181,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль,автомобиль,нет детей,в браке

In [183]:
# проведём категоризацию по уровню дохода
def category_total_income(total_income):
    if total_income < 50000:
        return 'низкий'
    elif total_income <= 350000:
        return 'средний'
    elif total_income < 350000:
        return 'выше среднего'
    else:
        return 'высокий'

In [184]:
# добавим этот столбец в датафрейм
data['total_income_category'] = data['total_income'].apply(category_total_income)
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,children_category,family_status_category,total_income_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье,среднестатистические,в браке,средний
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,среднестатистические,в браке,средний
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье,нет детей,в браке,средний
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,многодетные,в браке,средний
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей,в браке,средний
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье,нет детей,в браке,средний
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье,нет детей,в браке,средний
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,нет детей,в браке,средний
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,среднестатистические,в браке,средний
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье,нет детей,в браке,средний
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,недвижимость,среднестатистические,в браке,средний
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,недвижимость,нет детей,в браке,средний
12,0,2194,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,свадьба,нет детей,в браке,средний
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,автомобиль,нет детей,в браке,средний
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,недвижимость,нет детей,в браке,средний
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,недвижимость,среднестатистические,в браке,средний
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,недвижимость,нет детей,в браке,средний
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,недвижимость,нет детей,в браке,средний
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,автомобиль,нет детей,не в браке,средний
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,автомобиль,нет детей,не в браке,средний
20,1,1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,недвижимость,среднестатистические,в браке,средний
21,1,253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,автомобиль,среднестатистические,в браке,средний
22,1,1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,автомобиль,среднестатистические,в браке,средний
23,0,272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,свадьба,нет детей,в браке,средний
24,1,338551,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,недвижимость,среднестатистические,не в браке,средний
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,недвижимость,нет детей,в браке,средний
26,0,2194,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017,образование,образование,нет детей,в браке,средний
27,0,529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,недвижимость,нет детей,в браке,средний
28,1,717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,недвижимость,среднестатистические,в браке,средний
29,0,2194,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017,строительство жилой недвижимости,недвижимость,нет детей,не в браке,средний
30,1,335581,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456,операции с коммерческой недвижимостью,недвижимость,среднестатистические,в браке,средний
31,0,1682,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485,жилье,жилье,нет детей,в браке,средний
32,0,4649,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,свадьба,нет детей,в браке,средний
33,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,жилье,нет детей,в браке,средний
34,0,4488,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660,операции со своей недвижимостью,недвижимость,нет детей,в браке,средний
35,0,394021,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805,на проведение свадьбы,свадьба,нет детей,в браке,средний
36,0,176,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830,автомобили,автомобиль,нет детей,не в браке,средний
37,0,6448,43,высшее,0,гражданский брак,1,F,компаньон,0,154128,приобретение автомобиля,автомобиль,нет детей,в браке,средний
38,0,597,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,образование,нет детей,не в браке,средний
39,0,650,31,высшее,0,гражданский брак,1,F,компаньон,0,754240,заняться образованием,образование,нет детей,в браке,высокий
40,0,1030,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865,покупка недвижимости,недвижимость,нет детей,не в браке,средний
41,0,2194,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017,сделка с подержанным автомобилем,автомобиль,нет детей,в браке,средний
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования,образование,нет детей,не в браке,средний
43,0,4375,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957,приобретение автомобиля,автомобиль,нет детей,не в браке,средний
44,1,1362,26,среднее,1,женат / замужем,0,F,сотрудник,0,100780,на покупку своего автомобиля,автомобиль,среднестатистические,в браке,средний
45,1,1039,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385,заняться образованием,образование,среднестатистические,не в браке,средний
46,2,2262,37,среднее,1,женат / замужем,0,F,компаньон,0,182682,сделка с подержанным автомобилем,автомобиль,среднестатистические,в браке,средний
47,1,2689,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277,на проведение свадьбы,свадьба,среднестатистические,в браке,высокий
48,0,3341,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065,строительство собственной недвижимости,недвижимость,нет детей,в браке,средний
49,0,1181,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591,автомобиль,автомобиль,нет детей,в браке,низкий

### Вывод

Таблица готова к анализу, категоризация произведена. Можно приступать к ответам на вопросы

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [185]:
# составим сводную таблицу
relation_children = data.groupby('children_category')['debt'].agg(['mean', 'sum'])
format_dict = { 'mean': '{:.2%}' }
relation_children.style.format(format_dict)

In [186]:
data['children_category'].value_counts()

нет детей               14149
среднестатистические     6873
многодетные               380
Name: children_category, dtype: int64

### Вывод

Бездетные чаще выплачивают кредит в срок, считаю что это не удивительно, гораздо проще планировать бюджет, когда нет детей,так же видно что это самая большая категория. В среднестатистических семьях, где 1-2 детей, отстают почти на 2 процента, хотя обращений в банк от этой категории в 2 раза ниже. Ну и в заключении многодетные семьи, их достаточно мало, но тем не менее ситуация по возвратам всё равно хуже, нежели у бездетных. Следовательно можно сделать вывод, что основными клиентами банка являются люди без детей и же лучше всего справляются с выплатами кредита в срок.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [187]:
relation_family_status = data.groupby('family_status_category')['debt'].agg(['mean', 'sum'])
format_dict = { 'mean': '{:.2%}' }
relation_family_status.style.format(format_dict)

In [188]:
data['family_status_category'].value_counts()

в браке       16462
не в браке     4940
Name: family_status_category, dtype: int64

### Вывод

Клиенты находящщиеся в браке чаще выплачивают кредит в срок и в то же время примерно в 3 раза чаще обращаются для получения кредита.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [189]:
relation_total_income = data.groupby('total_income_category')['debt'].agg(['mean', 'sum'])
format_dict = { 'mean': '{:.2%}' }
relation_total_income.style.format(format_dict)

In [190]:
data['total_income_category'].value_counts()

средний    20175
высокий      856
низкий       371
Name: total_income_category, dtype: int64

### Вывод

Чащё всего за кредитом обращаются люди со средним заработком и в то же время они чаще не могут выплатить его в срок. Интересным для меня оказалось, что люди с низким уровнем дохода реже всего уходят в 'просрочку', видимо небольшой доход заставляет бережнее относиться к деньгам. Люди с высоким уровнем дохода почти не отстают от людей с низким, видимо так же осознают ценность денег.

- Как разные цели кредита влияют на его возврат в срок?

In [191]:
relation_purpose = data.groupby('purpose_category')['debt'].agg(['mean', 'sum'])
format_dict = { 'mean': '{:.2%}' }
relation_purpose.style.format(format_dict)

In [192]:
data['purpose_category'].value_counts()

недвижимость    6330
жилье           4450
автомобиль      4288
образование     3997
свадьба         2337
Name: purpose_category, dtype: int64

### Вывод

Как видно в таблице, те кто хотят купить жильё или др недвижимость более отвественно относятся к выплатам, они же ии чаще других обращаются за кредитом. Самая плохая картина у тех, кто хочет автомобиль и учиться, эти категория не сильно отстаёт по количеству заёмщиков от тех, кто покупает квартиру

### Шаг 4. Общий вывод

Подводя итог могу сказать, что самые ответственные заёмщики имеют низкий или высокий заработок, находятся в браке и не имеют детей, их цель купить квартиру.